
@import "./fonts/fontin/fontin.less";
@import "./fonts/fontin_sans/fontin_sans.less";

@import "../node_modules/material-ui/src/less/scaffolding.less";

@import "material-variables.less";

@import "../node_modules/material-ui/src/less/components.less";

body {
  font-size: 18px;
  line-height: 25px;
}

p {
  font-size: 18px;
  line-height: 25px;
}

@menupadding: 11px;
@menuheight: 52px;

@shinecolor: #a59689;


.v-center() {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}

.shine() {
  &:before {
    content: '';
    position: absolute;
    height: 160px;
    width: 20px;
    background: @shinecolor;
    top: -40px;
    left: -40px;
    display: block;
    box-shadow: 0px 0px 30px 5px @shinecolor; 
    transform: rotate(-40deg);
    transition: all 0.5s ease;
  }
  &:hover:before {
    top: -80px;
    left: 120px;
  }
}

#heroforge {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100%;
  width: 100%;
  background: #643E1B url("./images/woodplanks.jpg") repeat;
  //bg from: http://forum.unity3d.com/threads/free-handpainted-wood-planking-texture.128779/
  box-shadow: inset 0px 0px 100px 20px rgba(24, 12, 1, 0.7);
}

.main-wrapper {
  width: 100%;
  padding-top: @menuheight;
}

.paper {
  background: fade(@paper-color, 90%) url("./images/paper-over.png") repeat;
  .inner {
    box-shadow: inset 0 0 60px 0 rgba(108, 78, 9, 0.30);
  }
}

#pf-menubar {
  .clearfix();
  
  position: absolute;
  height: @menuheight;
  width: 100%;
  text-align: center;
  z-index: 1;
  
  .inner {
    height: 100%;
    .v-center();
    box-shadow: inset 0 0 20px 0 rgba(108, 78, 9, 0.30);
  }
  
  .menu-button {
    .mui-raised-button-label {
      padding: 0 8px;
    }
    button {
      .shine();
    }
  }
  
  .left-group {
    position: absolute;
    top: @menupadding;
    left: 8px;
  }
  .title {
    font-family: @decorativeFontFamily;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    margin: 0 25%;
    width: 50%;
    font-size: 21px;
    
    img {
      height: 38px;
    }
    
    & > div {
      line-height: @menuheight;
    }
    
    &.has-sub {
      & > div {
        width: 100%;
      }
      .primary {
        font-size: 20px;
        height: 25px;
        line-height: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .subtitle {
        font-size: 14px;
        height: 16px;
        line-height: 16px;
        font-family: @contentFontFamily;
        font-weight: bold;
      }
    }
  }
  .right-group {
    position: absolute;
    top: @menupadding;
    right: 8px;
  }
  
}

.hf-mode {
  width: 100%;
  height: 100%;
  max-width: 870px;
  padding: 15px;
  padding-top: 20px;
  margin: 0 auto;
}

.hf-mode.page {
  .paper {
    .inner {
      padding: 20px;
    }
  }
}

@avatar-size: 110px;

.hf-mode.list {
  text-align: center;
  
  .login-notice {
    height: 100%;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    .paper {
      margin-top: 2*@menuheight;
      -webkit-transform: perspective(200px) rotateX(1deg);
         -moz-transform: perspective(200px) rotateX(1deg);
           -o-transform: perspective(200px) rotateX(1deg);
          -ms-transform: perspective(200px) rotateX(1deg);
              transform: perspective(200px) rotateX(1deg);
      display: inline-block;
      vertical-align: middle;
      .inner {
        padding: 20px;
      }
    }
  }
  
  ul {
    list-style: none;
    text-align: center;
    .clearfix();
    li {
      position: relative;
      display: inline-block;
      margin: 10px 15px;
      width: 180px;
      height: 180px;
      cursor: pointer;
      // transition: all 0.1s ease-out;
      &:hover {
        // transform: scale(1.04);
        .avatar {
          box-shadow: 0px -2px 5px 3px rgba(255,247,219, 1);
        }
        .info {
          box-shadow: 0px 0px 8px 5px rgba(255,247,219, 1);
        }
        .mui-paper-container {
          box-shadow: none;
        }
      }
      .list-item {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        text-align: center;
        
        .avatar {
          display: inline-block;
          width: @avatar-size;
          height: @avatar-size;
          overflow: hidden;
          background-color: #B8841D;
          position: relative;
          &:after {
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            content: "";
            width: @avatar-size;
            height: @avatar-size;
            border-radius: 50%;
            background-image: url("./images/paper-over.png");
            box-shadow: inset -1px -2px 0px 0px rgba(24, 12, 1, 0.5);
          }
          img, svg {
            width: @avatar-size;
            height: @avatar-size;
          }
          svg {
            path {
              fill: #412603;
            }
          }
        }
        .info {
          width: 100%;
          margin-top: -20px;
          overflow: hidden;
          line-height: 40px;
          .inner {
            padding: 10px 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            box-shadow: inset 0 0 20px 0 rgba(108, 78, 9, 0.30);
            .clearfix();
          }
          .name {
            font-family: @decorativeFontFamily;
            font-size: 20px;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .details {
            font-size: 16px;
            line-height: 16px;
            .system {
              float: right;
            }
            .level {
              font-weight: bold;
              float: left;
            }
          }
        }
        
        &.new {
          .avatar {
            background-color: @accent-3-color;
            .plus {
              font-family: @decorativeFontFamily;
              line-height: @avatar-size - 20px;
              font-size: @avatar-size + 15;
              color: @accent-2-color;
              text-align: center;
            }
            &:before {
              content: '';
              position: absolute;
              height: 190px;
              width: 40px;
              background: @shinecolor;
              top: -40px;
              left: -70px;
              display: block;
              box-shadow: 0px 0px 30px 5px @shinecolor; 
              transform: rotate(-20deg);
              transition: all 0.3s ease;
            }
          }
          &:hover .avatar:before {
            left: 140px;
          }
            
          .details {
            display: none;
          }
          .info {
            .name {
              font-style: italic;
            }
          }
        }
      }
    }
  }
}





////////////////////////////////////////////////////////////////////////////////////////////////////


@media screen and (min-width: 1025px) {
  @menuheight-big: 70px;
  .main-wrapper {
    padding-top: @menuheight-big;
  }
  #pf-menubar {
    height: @menuheight-big;
    .title {
      font-size: 26px;
      
      &.has-sub {
        .primary {
          font-size: 26px;
          height: 32px;
          line-height: 32px;
        }
        .subtitle {
          font-size: 18px;
          height: 26px;
          line-height: 26px;
        }
      }
      img {
        height: 54px;
      }
      & > div {
        line-height: @menuheight-big;
      }
    }
    .left-group {
      top: 19px;
      left: 15px;
    }
    .right-group {
      top: 19px;
      right: 15px;
    }
  }
}
  

@media screen and (max-width: 580px) {
  
  @avatar-size-small: @avatar-size - 10px;
  
  .hf-mode.list {
    ul {
      width: 100%;
      li {
        display: block;
        width: 100%;
        height: @avatar-size-small;
        margin: 0px;
        margin-bottom: 20px;
        .list-item {
          text-align: left;
          padding-left: @avatar-size-small/2;
          
          .avatar, .info {
            display: inline-block;
          }
          .avatar {
            position: absolute;
            top: 0px;
            left: 0px;
            width: @avatar-size-small;
            height: @avatar-size-small;
            img, svg {
              width: @avatar-size-small;
              height: @avatar-size-small;
            }
            ;
            &:after {
              width: @avatar-size-small;
              height: @avatar-size-small;
            }
          }
          .info {
            margin: 0px;
            margin-top: 7px;
            line-height: 28px;
            .inner {
              padding-left: (@avatar-size-small/2) + 15px;
            }
            .details {
              line-height: 22px;
              margin-top: 6px;
            }
          }
          
          &.new {
            .avatar {
              .plus {
                line-height: @avatar-size-small - 18px;
                font-size: @avatar-size-small + 12px;
              }
            }
            .info {
              margin-top: 15px;
            }
          }
          
        }
      }
    }
  }
}


@media screen and (max-width: 380px) {
  .hf-mode.page {
    padding: 6px;
  }
  
  @avatar-size-smaller: 80px;
  
  .hf-mode.list {
    ul {
      li {
        height: @avatar-size-smaller;
        .list-item {
          padding-left: @avatar-size-smaller/2;
          .avatar {
            width: @avatar-size-smaller;
            height: @avatar-size-smaller;
            img, svg {
              width: @avatar-size-smaller;
              height: @avatar-size-smaller;
            }
            ;
            &:after {
              width: @avatar-size-smaller;
              height: @avatar-size-smaller;
            }
          }
          .info {
            margin-top: 5px;
            .inner {
              padding: 8px;
              padding-left: (@avatar-size-smaller/2) + 10px;
            }
            .name {
              font-size: 18px;
              line-height: 25px;
            }
            .details {
              font-size: 14px;
              line-height: 16px;
            }
          }
          
          &.new {
            .avatar {
              .plus {
                line-height: @avatar-size-smaller - 15px;
                font-size: @avatar-size-smaller + 10px;
              }
            }
            .info {
              margin-top: 12px;
            }
          }
          
        }
      }
    }
  }
}




@import "includes/dialogs.less";

@import "spellbook.less";